<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first express webapp</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
    <h1>About me</h1>
    
    <p>
         A native of Shreveport, Louisiana, Brian Blade established himself as a versatile, accomplished drummer early in his career, appearing on albums by the likes of Joshua Redman, Kenny Garrett, and Bob Dylan.
    </p>
</body>
</html>