<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brian Blade webpage</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <nav class="flex">
        <div class="button">
            <a href="/about">About</a>
        </div>
  
        <div div class="button">
            <a href="/works">Works</a>
        </div>
  
        <div class="button">
            <a href="/photo_gallery">Gallery</a>
        </div>
    </nav>

    <h1>Welcome to my website</h1>

    <div class="mainphoto"><img src="/images/brian3.jpeg"</div>
    

    </div>
  </body>
</html>
