<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first express webapp</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
</head>
<body>
    <h1>My gallery</h1>
    <div class="gallery">
        <a target="_blank" href="/images/brian2.jpeg">
          <img src="/images/brian3.jpeg" alt="" width="300" height="200">
        </a>
        <div class="desc">Playing drums in Lisbon NY</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="/images/brian3.jpeg">
          <img src="/images/brian3.jpeg" alt="" width="300" height="200">
        </a>
        <div class="desc">Playing drums in Germany</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="/images/brian3.jpeg">
          <img src="/images/brian3.jpeg" alt="" width="300" height="200">
        </a>
        <div class="desc">Playing drums in Lisbon</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="/images/brian3.jpeg">
          <img src="/images/brian3.jpeg" alt="" width="300" height="200">
        </a>
        <div class="desc">Playing drums in London</div>
      </div>
</body>
</html>